{
    "number of generations" : 500,
    "number of individuals": 48,
    "mutation bracket size": 24,
    "min 1": 110,
    "max 1": 170,
    "min 2": 20,
    "max 2": 50,
    "uld map for priority": {"U1":0,"U2":0,"U3":0,"U4":1,"U5":1,"U6":1},
    "number of stable generations": 20,
    "probability of choosing elite gene": 0.7
}