{
    "goal": "MAXUTILIZATION",
    "time limit": 5,
    "iteration limit": 100,
    "packing type": "SPACEDEFRAGMENTATION",
    "base url": "http://mhpa.fedex-team27.com/packing/",
    "polling interval": 1,
    "handle gravity" : 1,
    "handle rotatability" : 1,
    "handle stackability" : 1,
    "handle forbidden orientations" : 0,
    "handle compatibility" : 0,
    "piece order" : "VWH",
    "improvement" : 1,
    "best fit" : 1,
    "score based order" : 1,
    "merit type" : "MEDXYZ",
    "stagnation distance" : 1000,
    "random salt" : 0
}